* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    position: relative;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    z-index: 0;
}
div {
    width: 800px;
    height: 700px;
    z-index: 8;
    position: relative;
    border-bottom: 1px solid white;
    background: #000000;
}
img {
    position: absolute;
}
div img:nth-of-type(1) { /* Smoke */
    z-index: 5;
    bottom: 200px
}
div img:nth-of-type(2) { /* Mug */
    z-index: 20;
    bottom: -20px;
    left: 100px
}
div .percentage {
    color: white;
    position: absolute;
    top: 10;
    left: 10;
    font-size: 30px;
    z-index: 100;
}
#iframe {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
#iframe p, #iframe a {
    font-size: 40px;
    font-family: arial;
    margin: 10px
}
#iframe p {
    color: white;
}