body {
    background-color: black;
}
img, video {
    position: absolute;

}
#gifSmoke, video {
    z-index: 10;
    max-width: 750px;
}

#coffee {
    z-index: 20;
    top: 850px;
    left: 30px;
}
#gifSmoke {
    top: 280px;
    left: -45px
}
/* a {
    z-index: 30;
    position: absolute;
} */